.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.case {
  position: fixed;
  top: 20px;
  right: 20px;
  transition: 0.7s all linear;
  z-index: 100000000;
  background-image: url("../images/pngorange/1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  width: 150px;
  animation-name: closing;
  animation-duration: 0.7s;
}

.caseOpen {
  position: fixed;
  right: 50%;
  transform: translateX(39%);
  top: 4vh;
  transition: 0.7s all linear;
  z-index: 100000000;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  width: 150px;
  animation-name: opening;
  animation-duration: 0.7s;
  background-image: url("../images/pngorange/16.png");
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../images/pngorange/1.png") url("../images/pngorange/2.png")
    url("../images/pngorange/3.png") url("../images/pngorange/4.png")
    url("../images/pngorange/5.png") url("../images/pngorange/7.png")
    url("../images/pngorange/8.png") url("../images/pngorange/9.png")
    url("../images/pngorange/10.png") url("../images/pngorange/11.png")
    url("../images/pngorange/12.png") url("../images/pngorange/13.png")
    url("../images/pngorange/14.png") url("../images/pngorange/15.png")
    url("../images/pngorange/16.png");
}

@keyframes opening {
  0% {
    background-image: url("../images/pngorange/1.png");
  }
  7% {
    background-image: url("../images/pngorange/2.png");
  }
  14% {
    background-image: url("../images/pngorange/3.png");
  }
  21% {
    background-image: url("../images/pngorange/4.png");
  }
  28% {
    background-image: url("../images/pngorange/5.png");
  }
  35% {
    background-image: url("../images/pngorange/7.png");
  }
  42% {
    background-image: url("../images/pngorange/8.png");
  }
  49% {
    background-image: url("../images/pngorange/9.png");
  }
  56% {
    background-image: url("../images/pngorange/10.png");
  }
  63% {
    background-image: url("../images/pngorange/11.png");
  }
  70% {
    background-image: url("../images/pngorange/12.png");
  }
  77% {
    background-image: url("../images/pngorange/13.png");
  }
  84% {
    background-image: url("../images/pngorange/14.png");
  }
  91% {
    background-image: url("../images/pngorange/15.png");
  }
  100% {
    background-image: url("../images/pngorange/16.png");
  }
}

@keyframes closing {
  0% {
    background-image: url("../images/pngorange/16.png");
  }

  7% {
    background-image: url("../images/pngorange/15.png");
  }

  14% {
    background-image: url("../images/pngorange/14.png");
  }

  21% {
    background-image: url("../images/pngorange/13.png");
  }

  28% {
    background-image: url("../images/pngorange/12.png");
  }

  35% {
    background-image: url("../images/pngorange/11.png");
  }

  42% {
    background-image: url("../images/pngorange/10.png");
  }

  49% {
    background-image: url("../images/pngorange/9.png");
  }

  56% {
    background-image: url("../images/pngorange/8.png");
  }

  63% {
    background-image: url("../images/pngorange/7.png");
  }

  70% {
    background-image: url("../images/pngorange/5.png");
  }

  77% {
    background-image: url("../images/pngorange/4.png");
  }

  84% {
    background-image: url("../images/pngorange/3.png");
  }

  91% {
    background-image: url("../images/pngorange/2.png");
  }

  100% {
    background-image: url("../images/pngorange/1.png");
  }
}

@media screen and (min-width: 800px) {
  .case,
  .caseOpen {
    display: none;
  }
}
